.main-layout {

  display: flex;
  flex-direction: row;
  align-items: stretch;
  
  .main-container {
    width: 100%;
    min-height: 100vh;
  }

  .main-content {
    background-color: $background-color;
    height: calc(100% - 64px);
    width: 100%;
    padding: $default-margin-or-padding;
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: $default-margin-or-padding;
      &__title {
        text-transform: uppercase;
        margin-bottom: 10px;
        color: $primary-color;
        font-weight: 700;
      }
      &__subtitle {
        font-size: 12px;
      }
      &__left {

      }
      &__right {
        display: flex;
      }
    }
    &__body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $default-margin-or-padding;
    }
  }

}