
@mixin animation-pulse {
  animation: pulse .7s linear;
  -webkit-animation: pulse .7s linear;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(255,70,70, 0.5); }
  100% { box-shadow: 0 0 0 6px rgba(255,70,70, 0); }
}