.search {

  position: relative;

  input {
    
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: $form-padding;
    padding-left: 40px;
    outline: none;
    border-top: none;
    border: 1px solid $light-grey-color;
    border-radius: $form-radius;
    box-shadow: none;
    background-color: #FFF;

    &::placeholder {
      color: $grey-color;
      font-weight: 500;
    }

    &:focus {
      border: 1px solid $primary-color;
      outline: none;
      @include animation-pulse;
    }
    
  }

  &--md {
    input {
      height: 40px;
      width: 150px;
    }
  }

  .anticon {
    svg {
      color: $primary-color;
      position: absolute;
      left: $form-padding;
      top: $form-padding;
    }
  }

}