// BASE
@import './base/variables';
@import './base/generals';

// COMPONENTS
@import './components/sidebar';
@import './components/header';
@import './components/main';
@import './components/responsive';


// PAGES